<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="favicon"/>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Craq'em - Dashboard</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container" align="center">
            <img src="logo" width="300px" height="150px"/>
            <h1>Hi,</h1>
            <h2><%= WELCOMEMSG%></h2<br/>
            <h3>Welcome to your dashboard</h3><br/><br/>
            <div>
                <h3 style="color: blue;">Your Hash Id</h3><br/><br/>
                <div id="hashdisp" class="border bg-primary col-sm-2">
                    <br/>
                    <h3 class="font-weight-bold" style="color: white;"><%= HASHCODE %></h3>
                    <br/>
                </div>
            </div>  
        </div>
    </body>
</html>            